[submodule "vientos-service"]
	path = vientos-service
	url = https://github.com/vientos/vientos-service.git
[submodule "vientos-app"]
	path = vientos-app
	url = https://github.com/vientos/vientos-app.git
