[submodule "vientos-service"]
	path = vientos-service
	url = https://github.com/vientos/vientos-service.git
[submodule "vientos-pwa"]
	path = vientos-pwa
	url = https://github.com/vientos/vientos-pwa.git
